<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="scau.info.volunteertime"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:name="scau.info.volunteertime.application.Ding9App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Maintheme" >
        <activity
            android:name="scau.info.volunteertime.activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="scau.info.volunteertime.activity.activitycenter.ActivityCenter"
            android:label="@string/title_activity_activity_center" >
        </activity>
        <activity
            android:name="scau.info.volunteertime.activity.manageactivity.ManageActivity"
            android:label="@string/title_activity_manage" >
        </activity>
        <activity
            android:name="scau.info.volunteertime.activity.manageauthority.ManageAuthority"
            android:label="@string/title_activity_manage_authority" >
        </activity>
        <activity
            android:name="scau.info.volunteertime.activity.managemember.ManageMember"
            android:label="@string/title_activity_manage_member" >
        </activity>
        <activity
            android:name="scau.info.volunteertime.activity.manageresult.ManageResult"
            android:label="@string/title_activity_manage_result" >
        </activity>
        <activity
            android:name="scau.info.volunteertime.activity.managevote.ManageVote"
            android:label="@string/title_activity_manage_vote" >
        </activity>
        <activity
            android:name="scau.info.volunteertime.activity.mypublish.MyPublish"
            android:label="@string/title_activity_my_publish" >
        </activity>
        <activity
            android:name="scau.info.volunteertime.activity.opinionfeedback.OpinionFeedback"
            android:label="@string/title_activity_opinion_feedback" >
        </activity>
        <activity
            android:name="scau.info.volunteertime.activity.personalinfo.PersonalInfo"
            android:label="@string/title_activity_personal_info" >
        </activity>
        <activity
            android:name="scau.info.volunteertime.activity.resultsexhibition.ResultsExhibition"
            android:label="@string/title_activity_results_exhibition" >
        </activity>
        <activity
            android:name="scau.info.volunteertime.activity.settings.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="scau.info.volunteertime.activity.volunteercircle.VolunteerCircle"
            android:label="@string/title_activity_volunteer_circle" >
        </activity>
        <activity
            android:name="scau.info.volunteertime.activity.volunteermember.VolunteerMember"
            android:label="@string/title_activity_volunteer_member" >
        </activity>
        <activity
            android:name="scau.info.volunteertime.activity.votecenter.VoteCenter"
            android:label="@string/title_activity_vote_center" >
        </activity>
        <activity
            android:name="scau.info.volunteertime.activity.login.Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="scau.info.volunteertime.activity.LoadActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>